@model FunnelWeb.Web.Views.Admin.TaskModel
@{
    ViewBag.Title = "FunnelWeb Administration - Task Details";
    Layout = "~/Views/Shared/_Private.cshtml";
}

<h1>@Model.State.TaskName (Started @Html.Date(Model.State.Started))</h1>
<p>
  @Html.ActionLink("Back to Task List", "Tasks", "Admin")
</p>

<table>
  <thead>
    <tr>
      <td>Task</td>
      <td>Arguments</td>
      <td>Started</td>
      <td>Progress</td>
      <td>Status</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>@Model.State.TaskName</td>
      <td>@Model.State.Arguments</td>
      <td>@Html.Date(Model.State.Started)</td>
      <td>@Model.State.ProgressEstimate%</td>
      <td>@Model.State.Status</td>
    </tr>
  </tbody>
</table>

<p>
  Below is the output log for this task. All times are server UTC time. 
  The current server UTC time is <code>@DateTime.UtcNow.ToString("yyyy-MM-dd HH:mm:ss")</code>
</p>

<pre>
@Model.State.OutputLog
</pre>
