@model EntrySummary

<article class='post-line @String.Join(" ", Html.CssKeywordsFor(Model))'>
    @Html.DisplayFor(x => x.Published, new { @class = "revised" })

    @{
        string diqusIdentifier = (Model.Title == null ? "" : (Model.Title + " - ")) + Html.Settings().SiteTitle;

        <div class='comments'>
            @if (!Model.HideComments)
            {
                if (Html.Settings().EnableDisqusCommenting)
                {
                    <span class='comment-count'>
                        <a href="@Url.Action("Page", "Wiki", new { page = Model.Name })#disqus_thread" data-disqus-identifier="@diqusIdentifier">
                            ---
                        </a>
                    </span>
                    <span>
                        <a href="@Url.Action("Page", "Wiki", new { page = Model.Name })#disqus_thread">
                            comment(s)
                        </a>
                    </span>
                }
                else
                {
                    <a href='@Url.Action("Page", "Wiki", new { page = Model.Name })#comments'>
                        <span class='comment-count'>@Model.CommentCount</span>
                        <span>comment@(Model.CommentCount == 1 ? "" : "s")</span>
                    </a>
                }
            }
            else
            {
                <a href=''>
                    <span class='comment-count'>---</span>
                    <span></span>
                </a>
            }
        </div>
        <div class='summary'>
            <header>
                <h2 class="post-title">@Html.ActionLink(Model.Title, "Page", "Wiki", new { page = Model.Name }, null)</h2>
                <ul class="post-meta">
                    <li class="post-pubdate"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span class="text">Published:</span><span class="data">@Model.Published.ToString("yyyy-MM-dd")</span></li>
                    <li class="post-author"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="text">Author:</span><span class="data">@Model.Author</span></li>
                    @if (!Model.HideComments)
                    {
                        <li class="post-comments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><span class="text">Comments:</span><span class="data" data-disqus-identifier="@diqusIdentifier">@Model.CommentCount</span></li>
                    }
                    <li class="post-tags"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><span class="text">Tags:</span><span class="data">@Html.DisplayFor(x => Model.TagsCommaSeparated)</span></li>
                </ul>
            </header>
            @if (!string.IsNullOrEmpty(Model.MetaDescription))
            {
                <p>@Html.RenderTrusted(Model.MetaDescription, Formats.Markdown)</p>
            }
            <footer>
                <ul class="post-meta">
                    <li class="post-pubdate"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span class="text">Published:</span><span class="data">@Model.Published.ToString("yyyy-MM-dd")</span></li>
                    <li class="post-author"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="text">Author:</span><span class="data">@Model.Author</span></li>
                    @if (!Model.HideComments)
                    {
                        <li class="post-comments"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span><span class="text">Comments:</span><span class="data" data-disqus-identifier="@diqusIdentifier">@Model.CommentCount</span></li>
                    }
                    <li class="post-tags"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span><span class="text">Tags:</span><span class="data">@Html.DisplayFor(x => Model.TagsCommaSeparated)</span></li>
                </ul>
            </footer>
        </div>
    }
</article>

