@model DateTime

<time class="@ViewData["class"]" datetime="@Model.ToString("yyyy-MM-ddTHH:mm:ssK")" pubdate>
    <span class='month'>@Model.ToLocalTime().ToString("MMM")</span>
    <span class='day'>@Model.ToLocalTime().ToString("dd")</span>
    <span class='year'>@Model.ToLocalTime().ToString("yyyy")</span>
</time>