<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>@ViewBag.Title</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  @{ 
    Html.RequiresCss("Base.css", "Base", 0);
    Html.RequiresCss("Admin.css", "Base", 1);
  }
  @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath> {
      new BasicPath("Base", "~/Content/themes/base")
    }))
  @RenderSection("Meta", required: false)
</head>
<body>
  <div class="top">
    <div class="header">
      <a class="logo" href="@Html.Qualify("/")" title="Administration">Administration</a>
    </div>
    <div class="nav">
      <ul>
        @if (ViewData.IsLoggedIn()) {
        <li>@Html.AdminActionLink("New Post", "Edit", "WikiAdmin")</li>
        <li>@Html.AdminActionLink("Admin", "Index", "Admin")</li>
        <li>@Html.AdminActionLink("Logout", "Logout", "Login")</li>
        }
      </ul>
    </div>
  </div>
  @if (TempData.ContainsKey("Flash")) {
  <div class="flash">
    <p>@TempData["Flash"]</p>
  </div>
  }
  <div class="body">
    @if (IsSectionDefined("Summary"))
    {
    <div class="intro" id="_summary">
      <div class="intro-in">
        @RenderSection("Summary", required: false)
      </div>
    </div>
    }

    <div class="content">
      @RenderBody()
    </div>
  </div>
  <div class="footer">
    <p>This is an admin page, so you won't see the standard header, footer and styles being applied. It's for your own protection.</p>
    <p>Powered by <a href="http://www.funnelweblog.com/">FunnelWeb</a> @Html.Version()</p>
  </div>
  @{ 
    Html.RequiresJs("jquery-1.6.2.min.js", "Scripts", 0);
    Html.RequiresJs("jsdate.js", "Scripts", 1);
    Html.RequiresJs("prettify.js", "Scripts", 1);
    Html.RequiresJs("showdown.js", "Scripts", 1);
    Html.RequiresJs("wmd.js", "Scripts", 1);
    Html.RequiresJs("site.js", "Scripts", 1);
    @MvcMiniProfiler.MiniProfiler.RenderIncludes()
  }
  @MvcHtmlString.Create(Html.RenderJsHere(new BasicPath("Scripts", "~/Scripts")))
</body>
</html>