@model FunnelWeb.Settings.AccessControlServiceSettings
@{
	ViewBag.Title = "FunnelWeb Administration - Settings";
	Layout = "~/Areas/Admin/Views/Shared/_Private.cshtml";
}

<h1>Settings</h1>

@using (Html.BeginForm("AcsSettings", "Admin", FormMethod.Post, new { Area = "Admin", @class = "promptBeforeUnload" }))
{
	<div class="form-body">
		<h3>Access Control Service configuration</h3>

		<div class="editor-label">
			@Html.LabelFor(m => m.Enabled)
		</div>
		<div class="editor-field">
			@Html.CheckBoxFor(m => m.Enabled)
			@Html.ValidationMessageFor(m => m.Enabled)
			@Html.HintFor(m => m.Enabled)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.RequireAuthenticationForComments)
		</div>
		<div class="editor-field">
			@Html.CheckBoxFor(m => m.RequireAuthenticationForComments)
			@Html.ValidationMessageFor(m => m.RequireAuthenticationForComments)
			@Html.HintFor(m => m.RequireAuthenticationForComments)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.Namespace)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Namespace)
			@Html.ValidationMessageFor(m => m.Namespace)
			@Html.HintFor(m => m.Namespace)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.Realm)
			@Html.ValidationMessageFor(m => m.Realm)
			@Html.HintFor(m => m.Realm)
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(m => m.AudienceUris, new { @class = "large" })
			@Html.ValidationMessageFor(m => m.AudienceUris)
			@Html.HintFor(m => m.AudienceUris)
		</div>

		<div class="editor-label">
			@Html.LabelFor(m => m.IssuerThumbprint)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(m => m.IssuerThumbprint)
			@Html.ValidationMessageFor(m => m.IssuerThumbprint)
			@Html.HintFor(m => m.IssuerThumbprint)
		</div>
		<div class="editor-label">
			@Html.LabelFor(m => m.Realm)
		</div>

		<div>
            <input type="submit" id="submit" class="btn btn-primary submit" value="Save" />
		</div>
	</div>
}