@model FunnelWeb.Web.Views.Wiki.RecentModel

@section Meta {
  <meta name="description" content="@Html.Settings().SearchDescription" />
  <meta name="keywords" content="@Html.Settings().SearchKeywords" />  
}

@section Summary {
  @Html.DisplayFor(_ => Html.Settings().Introduction) 
}

<h1>Recent Posts</h1>
<div class="post-list">
  @foreach (var entry in Model.Entries) {
      
  <div class='post-line @String.Join(" ", Html.CssKeywordsFor(entry))'>
    <div class='revised'>
      <span class='month'>@entry.FeedDate.ToString("MMM d")</span> 
      <span class='year'>@entry.FeedDate.ToString("yyyy")</span>
    </div>
    <div class='comments'>
    <a href='@Url.Action("Page", new { page = entry.Name })#comments'>
      <span class='comment-count'>@entry.CommentCount</span>
      <span>comments</span> 
    </a>
    </div>
    <div class='summary'>
      <h2>
        @Html.Qualify(Html.ActionLink(entry.Title, "Page", new { page = entry.Name }))
      </h2>
      @if (!string.IsNullOrEmpty(entry.MetaDescription)) {
      <p>@entry.MetaDescription</p>
      }
    </div>
  </div>
  }
</div>

@if (Model.TotalPages > 1) { 
<div class="paginator">
  <span class="title">Page: </span>
  @for (var i = 0; i < Model.TotalPages; i++) {
  <span class="page">
    @if (i == Model.PageNumber) { 
      @MvcHtmlString.Create((i + 1).ToString())
    } else if (i == 0) { 
      @Html.ActionLink((i + 1).ToString(), "Recent") 
    } else { 
      @Html.ActionLink((i + 1).ToString(), "Recent", new { pageNumber = i }) 
    }
  </span>
  }
</div>
}
