@using FunnelWeb.Utilities

@model FunnelWeb.Web.Views.Wiki.PageModel
@{
    // This is the default template that renders a blog post.
    // The actual "Page" does nothing except render the body of the post and meta data.
    Layout = "~/Views/Shared/_Public.cshtml";
}

@section Meta {
  <meta name="description" content="@Model.Entry.MetaDescription" />
  <meta name="keywords" content="@Model.Entry.TagsCommaSeparated" />
  <link rel="canonical" href="@Html.Qualify(Html.ActionUrl("Page", new { page = Model.Entry.Name }))" />
  <link rel="pingback" href="@Html.Qualify("/pingback")" />
  @if (Model.IsPriorVersion)
  {
    <meta name="robots" content="noindex, nofollow" />
  }
}

  <h1>
    @Html.ActionLink(Model.Entry.Title, "Page", new { page = Model.Entry.Name })
  </h1>

@if (Model.Entry.Status == FunnelWeb.Model.EntryStatus.Private)
{
  <div class='validation-summary-errors'>
    This is a <strong>private</strong> page. Only logged in users will be able to see
    it.
    @Html.ActionLink("Edit this page ", "Edit", "WikiAdmin", new { Area = "Admin", page = Model.Page }, new { })
    to make it public.
  </div>    
}

<div class="entry-container">
  @RenderBody()

  @if (Html.Settings().FacebookLike)
  {
  <div class="facebook">
    <iframe src="http://www.facebook.com/plugins/like.php?href=@Url.Encode(Request.GetOriginalUri().AbsoluteUri)&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true">
    </iframe>
  </div>
  }
</div>
<div class="clear">
</div>
