@model EntrySummary
<div class='post-line @String.Join(" ", Html.CssKeywordsFor(Model))'>
    <div class='revised'>
        <span class='month'>@Model.Published.ToLocalTime().ToString("MMM d")</span> <span
            class='year'>@Model.Published.ToLocalTime().ToString("yyyy")</span>
    </div>
    <div class='summary-container'>
        <div class='comments'>
            @if (Html.Settings().EnableDisqusCommenting)
            {
                // Disqus will show comments by default as "X comments", so either 
                // go to http://disqus.com/admin/settings/appearance/ and remove the "comments" parts,
                // or remove the "comment(s)" span below.
                
                <span class='comment-count'><a href="@Url.Action("Page", "Wiki", new { page = Model.Name })#disqus_thread" data-disqus-identifier="@(Model.Title == null ? "" : (Model.Title + " - "))@Html.Settings().SiteTitle">
                </a></span>
                <span>comment(s) </span>
            }
            else
            {
                <a href='@Url.Action("Page", "Wiki", new { page = Model.Name })#comments'><span class='comment-count'>@Model.CommentCount</span>
                    <span>comment@(Model.CommentCount == 1 ? "" : "s")</span> </a>
            }
        </div>
        <div class='summary'>
            <h2>@Html.ActionLink(Model.Title, "Page", "Wiki", new { page = Model.Name }, null)</h2>
            @if (!string.IsNullOrEmpty(Model.MetaDescription))
            {
                <p>@Html.RenderTrusted(Model.MetaDescription, Formats.Markdown)</p>
            }
            <ul class="tags">
                @foreach (var tag in (Model.TagsCommaSeparated ?? "").Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <li>
                        @Html.ActionLink(tag, "Index", "Tagged", new { tag }, new { title = "Posts tagged " + tag, @class = "tag " + @Html.CssKeywordsForTag(tag) })
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
