@model System.Collections.Generic.IEnumerable<FunnelWeb.Model.Entry>
@{
  // This is the default template that renders a blog post.
  // The actual "Page" does nothing except render the body of the post and meta data.
  Layout = "~/Views/Shared/_Public.cshtml";
}

@using System.Linq

<h2>Posts tagged with <span class="tagName">@ViewBag.Tag</span></h2>

@if (@Model.Any())
{ 
    <div class="post-list">
  @foreach (var entry in Model)
  {
    <div class='post-line @String.Join(" ", Html.CssKeywordsFor(entry))'>
      <div class='revised'>
        <span class='month'>@entry.Published.ToLocalTime().ToString("MMM d").ToLower()</span> <span
          class='year'>@entry.Published.ToLocalTime().ToString("yyyy")</span>
      </div>
      <div class='summary-container'>      
        <div class='comments'>
          <a href='@Url.Action("Page", "Wiki", new { page = entry.Name })#comments'><span class='comment-count'>@entry.CommentCount</span>
            <span>comments</span> </a>
        </div>
        <div class='summary-header'>
          <h2>
            @Html.ActionLink(entry.Title, "Page", "Wiki", new { page = entry.Name }, null)
          </h2>
        </div>
        <div class='summary'>
          @if (!string.IsNullOrEmpty(entry.MetaDescription))
          {
            <p>@entry.MetaDescription</p>
          }
          <ul class="tags">
          @foreach (var tag in entry.Tags)
          {
            <li><a class='tag @Html.CssKeywordsFor(tag)' href='/tagged/@tag.Name' title='Posts tagged @tag.Name'>@tag.Name</a></li>
          }
        </ul>
        </div>
      </div>
    </div>

  }
</div>
}
else
{ 
    <p>Aww snap! That tag isn't being used anyway</p>
}
