@model FunnelWeb.Web.Views.Wiki.RecentModel
@{
    // This is the default template that renders a blog post.
    // The actual "Page" does nothing except render the body of the post and meta data.
    Layout = "~/Views/Shared/_Public.cshtml";
}
@section Meta 
{
  <meta name="description" content="@Html.Settings().SearchDescription" />
  <meta name="keywords" content="@Html.Settings().SearchKeywords" />
}
@section Summary 
{
  @Html.DisplayFor(_ => Html.Settings().Introduction)
}
<h1>recent posts</h1>
<div class="post-list">
  @foreach (var entry in Model.Entries)
  {
    <div class='post-line @String.Join(" ", Html.CssKeywordsFor(entry))'>
      <div class='revised'>
        <span class='month'>@entry.Published.ToLocalTime().ToString("MMM d").ToLower()</span> <span
          class='year'>@entry.Published.ToLocalTime().ToString("yyyy")</span>
      </div>
      <div class='summary-container'>      
        <div class='comments'>
          <a href='@Url.Action("Page", new { page = entry.Name })#comments'><span class='comment-count'>@entry.CommentCount</span>
            <span>comments</span> </a>
        </div>
        <div class='summary-header'>
          <h2>
            @Html.Qualify(Html.ActionLink(entry.Title, "Page", new { page = entry.Name }))
          </h2>
        </div>
        <div class='summary'>
          @if (!string.IsNullOrEmpty(entry.MetaDescription))
        {
            <p>@entry.MetaDescription</p>
        }
          <ul class="tags">
          @foreach (var tag in entry.Tags)
          {
            <li><a class='tag @Html.CssKeywordsFor(tag)' href='/tagged/@tag.Name' title='Posts tagged @tag.Name'>@tag.Name</a></li>
          }
        </ul>
        </div>
      </div>
    </div>

  }
</div>
@Paginator.Render(Model.ActionName, Model.PageNumber, Model.TotalPages)
