<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="language" content="english" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/base/baseCss")
    @Styles.Render("~/Content/themes/base/css")
    <link href="@Html.Qualify(Href("~/content/theme.css"))" rel="stylesheet"/> 
    @RenderSection("Meta", required: false)
    @MvcHtmlString.Create(Html.Settings().HtmlHead)
</head>
<body>
    <header>
        <a class="logo" href="@Html.Qualify("/")" title="@Html.Settings().SiteTitle">@Html.Settings().SiteTitle</a>
        <nav>
            <ul>
                @MvcHtmlString.Create(Html.Settings().MainLinks)
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.AdminActionLink("New Post", "Edit", "WikiAdmin")</li>
                    <li>@Html.AdminActionLink("Admin", "Index", "Admin")</li>
                    <li>@Html.AdminActionLink("Logout", "Logout", "Login")</li>
                }
            </ul>
        </nav>
    </header>
    <div class="body" role="main">
        @if (TempData.ContainsKey("Flash"))
        {
            <div class="flash">
                <p>@TempData["Flash"]</p>
            </div>
        }
        @if (IsSectionDefined("Summary"))
        {
            <div class="intro" runat="server" id="_summary">
                @RenderSection("Summary", required: false)
            </div>
        }
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <footer>
        @MvcHtmlString.Create(Html.Settings().Footer)
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jsdate")
    @Scripts.Render("~/bundles/pagedown")
    @Scripts.Render("~/bundles/prettify")

    @MvcHtmlString.Create(Html.Settings().HtmlFooter)
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
</body>
</html>
